@import url('https://fonts.googleapis.com/css?family=Abel');
*{
  margin:0;
  padding:0;
}
.body{
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-image: url();
}

.title{
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  position:absolute;
  top:20%;
  left:20%;
  color:#2352B0;

}
.btn:hover {
  background: black;
  color:white;
}
.btn{
  position:relative;
  top:440px;
  left:40%;
  color:black;
  background: transparent;
  border: 2px solid black;
  border:none
  color:black;
  padding: 16px 32px;
  text-align:center;
  display: inline-block;

  font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}

.btn1 {
      background-color: white;
      color: black;
      border: 2px solid #008CBA;
}
.btn2:hover {
  background: #AF2525;
  text-decoration: none;
}
.btn2{
  position:relative;
  top:430px;
  left:400px;
  color:#C63131;
  background: transparent;
  border: 2px solid #C63131;
  border-radius: 6px;
  border:none
  color:black;
  padding: 16px 32px;
  text-align:center;
  display: inline-block;
  font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
.btn2 {
      background-color: white;
      color: #C63131;
      border: 2px solid #C63131;
}
a:visited{
  color:white;
}
.list{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  position:fixed;
  list-style: none;
  display: flex;
  width:100%;
  background-color: white;
}
.list1{
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  position:fixed;
  list-style: none;
  display: flex;
  width:100%;
  animation:colorchane .5s infinite;
}
@keyframes colorchane{
  0%{
    background-color: white;
  }
  100%{
    background-color: black;
  }



}
img.twitter{
  width: 40px;
  height:40px;
}
.image{
  position:absolute;
  top: center;
  left:40%;
  padding:15px;
}
img.instagram{
  width: 75px;
  height: 75px;
}
.image_1{
  position:absolute;
  top:center;
  left:45%;

}
.t{
  padding:20px;
  color:white;

}
.s{
  padding:20px;
  color: white;
}
.w{
  padding: 20px;
  color:white;
}
.z{
  padding:20px;
  position: fixed;
  left: 90%;
  color: white;
}
.hey{
  position:absolute;
  top:20%;
  left:30%;
}
.heman{
  background-image: url("https://i.pinimg.com/originals/dc/8b/e4/dc8be4a4c7d53c82dad38c608b6ab07a.jpg");
}
img.first{
  top:20%;
  left:30%;
}
.first{
  width:200px;
    height:200px;
    position:relative;
    -webkit-animation:myfirst 5s infinite; /* Chrome, Safari, Opera */
    animation:myfirst 5s infinite;
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes myfirst
    {
    0%   { left:0px; top:300px;-webkit-transform:rotate(0deg)}
    50%  {left:100%; margin-left:-100px;-webkit-transform:rotate(360deg)}
    100% {left:0px; top:300px;-webkit-transform:rotate(0deg)}
    }

    /* Standard syntax */
    @keyframes myfirst
    {
    0%   { left:0px; top:300px;transform:rotate(0deg)}
    50%  {left:100%; margin-left:-100px;transform:rotate(360deg)}
    100% {left:0px; top:300px;transform:rotate(0deg)}
}
 .colors{
   animation:colorchange .5s infinite;
 }
 @keyframes colorchange{
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
img.stug{
  width:100px;
  height: 200px;
}
.stug{
  position:absolute;
  top:90px;

}
.myVideo {
  position: fixed;
  width:100%;
  height:100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
